@model AskFM.ViewModels.UserPageDTO
@{
    ViewData["Title"] = "Page";
}

<div class="text">@Model.User.Name</div>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Кнопка</title>
</head>
<body>
    <form action="subscriptions" target="_blank">
        <button>Добавить в друзья</button>
    </form>
</body>
</html>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-btn">
                <a href="~/users" class="btn">Найти</a>

            </span>
        </div>
    </div>
</div>

@if (Model.User.Id != null)
{
    <img src="~/users/image?userId=@Model.User.Id" style="width:150px;height:200px;" />
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>Кнопка</title>
        <style>
            .btn {
                display: inline-block; /* Строчно-блочный элемент */
                background: #8C959D; /* Серый цвет фона */
                color: #fff; /* Белый цвет текста */
                padding: 1rem 1.5rem; /* Поля вокруг текста */
                text-decoration: none; /* Убираем подчёркивание */
                border-radius: 3px; /* Скругляем уголки */
            }
        </style>
    </head>
    <body>
        <a href="~/question/?userId=@Model.User.Id" class="btn">ЗАДАТЬ ВОПРОС</a>
        <a href="~/question/un-answeredquestions" class="btn">Мои вопросы</a>
    </body>
</html>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
            <a asp-controller="question"
               asp-action="page"
               asp-route-userId="@Model.User.Id"
               asp-route-pageNumber="@(Model.PageNumber)"
               asp-route-pageSize="5">По 5</a>
        </li>
        <li>
            <a asp-controller="question"
               asp-action="page"
               asp-route-userId="@Model.User.Id"
               asp-route-pageNumber="@(Model.PageNumber)"
               asp-route-pageSize="10">По 10</a>
        </li>
        <li>
            <a asp-controller="question"
               asp-action="page"
               asp-route-userId="@Model.User.Id"
               asp-route-pageNumber="@(Model.PageNumber)"
               asp-route-pageSize="@Model.QuestionsCount">Все вопросы</a>
        </li>
    </ul>
</div>
}

@foreach (var question in Model.Questions)
{
    <div class="row">
        <div class="col-md-4">

            <div class="panel-heading">@question.Text</div>
            <div class="panel-heading">@question.Answer</div>
            <h4>Коментарии</h4>
            @foreach (var comment in question.Comments ?? new List<AskFM.ViewModels.CommentDto>())
            {
                <div class="panel-heading">@comment.Text</div>
                @if (!String.IsNullOrEmpty(comment.UserId))
                {
                    <div class="panel-heading">@comment.UserName</div>
                }
            }
            <form asp-controller="comment" asp-action="" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input name="Text" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div>
                    <label asp-for=@question.Comments.FirstOrDefault().IsAnonimized></label><br />
                    <input asp-for=@question.Comments.FirstOrDefault().IsAnonimized />
                </div>
                <input name="QuestionId" type="hidden" value=@question.Id>
                <div class="form-group">
                    <input type="submit" value="Прокоментировать" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
}

@if (Model.PageNumber > 1)
{
    <a asp-controller="question"
       asp-action="page"
       asp-route-userId="@Model.User.Id"
       asp-route-pageNumber="@(Model.PageNumber - 1)"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}

@if (Model.PageNumber < (double)Model.QuestionsCount / Model.PageSize)
{
    <a asp-controller="question"
       asp-action="page"
       asp-route-userId="@Model.User.Id"
       asp-route-pageNumber="@(Model.PageNumber + 1)"
       asp-route-pageSize="@Model.PageSize"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

